# Dependencies
node_modules/
.pnp
.pnp.js

# Env files
.env
.env.*
!.env.example

# Outputs
dist/
build/
coverage/
.output/
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.DS_Store
*.pem
.cache